body {
  background-image: url("./image/background.png");
  /* background-color: black; */
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: 20%;
  /* height: 850vh; */
}

.bg-color {
  background-color: #7ac142;
}
.text-color {
  color: #000000;
}
.bg-color:hover {
  background-color: #000000;
  /* color: black; */
}
